include /components/atoms/tag.pug

mixin tags(title)
    .flex.flex-col.p-4.pb-1
        label.font-bold.pb-3= title
        div(class='border p-2 w-full rounded-lg leading-none')
            +tag('lab-color', 'white', 'Санкт-Петербург')

