include tournamentTypeButton.pug

mixin tournamentType
  .flex.flex-col.pb-2
    .flex.justify-between.p-4.pb-2
        label.font-bold Тип
        span.text-rttf-color.text-sm Включить все
    .flex.flex-row.gap-2.px-4.py-2
        +tournamentTypeButton('single', 'all', true)
        +tournamentTypeButton('single', 'male', true)
    .flex.flex-row.gap-2.px-4.py-2
        +tournamentTypeButton('double', 'all', false)
        +tournamentTypeButton('double', 'male', false)
        +tournamentTypeButton('double', 'female', false)
        +tournamentTypeButton('double', 'mixed', false)
    .flex.flex-row.gap-2.px-4.py-2
        +tournamentTypeButton('team', 'all', false)





