include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/forumRow.pug
include /components/poll.pug
include /components/articleRow.pug
include /components/comments.pug
include /components/profileTournamentCard.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Новости
        link(href="../../styles.css" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")
        base(href="../../")
    body.bg-page-background.mt-12.pb-32
        +topBar

        .p-4.bg-white
            span.text-sm.text-rttf-black-50 Сегодня 10:24
            h1.py-2.leading-tight.text-rttf-color Начала работать новая локация БК Новая лига в Лужниках
            .flex.items-center.gap-1.text-sm.mt-1
                span 🌍 
                    span.text-rttf-black-50 Мировые новости
                img(src="img/comment.svg", class="opacity-30 ml-4")
                span.text-rttf-black-50 10
            figure 
                img(src="dynamic-img/news-1.jpeg", alt="").my-4.rounded-md.max-w-sm.w-full.max-h-sm.mx-auto
                figcaption.text-sm.text-center.w-full.text-rttf-black-50.mb-2 Новые столы в Лужниках
            p БК Новая лига открыла новую локацию во  Дворце тенниса в Лужниках. Называется новый зал Лужники NL-ЛАБ. Планируется как проведение ежедневных групповых и персональных тренировок, открытие бадминтонной академии для детей, проведение турниров выходного дня всех форматов, включая командные и клубные.
            footer
                cite.text-rttf-black-50.text-xs Источник: Название источника
        +comments
        +tabBar('Вокруг игры')