include /components/atoms/button.pug
include /components/atoms/stepper.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/modal.pug
include /components/rentCourt.pug
include /components/rentCard.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/editLabel.pug
include /components/selectedCourts.pug
include /components/bottomPanel.pug
include /components/bookingData.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Бронирование отменено
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )
    base(href='../../')
  body.mt-12.bg-white.pb-32
    +topBar
    .p-4
      .grow.pb-4.text-center.text-lg.font-bold.text-lab-black Бронирование №123456 отменено
      +bookingData
      .text-wrap.pb-4
        img.inline-block.align-middle.opacity-50.saturate-50(src='img/price.svg', alt='')
        span.ml-2.inline-block.align-middle 2000₽
        span.ml-2.inline-block.rounded-md.bg-lab-green.px-2.py-1.align-middle.text-sm.font-semibold.text-white Оплачено
        span.ml-2.inline-block.text-nowrap.rounded-md.bg-lab-yellow.px-2.py-1.align-middle.text-sm.font-semibold.text-white Оплата в клубе
        span.ml-2.inline-block.rounded-md.bg-lab-color.px-2.py-1.align-middle.text-sm.font-semibold.text-white Абонемент

      p Возврат средств в размере 50% будет осуществлен на ваш счет в течение 3 рабочих дней, но обычно быстрее.

      p В случае возникновения вопросов, обращайтесь в нашу службу поддержки:
        |
        a(href='mailto:info@badminton4u.ru') info@badminton4u.ru

      a.block.w-full.p-4.text-center.font-bold(href='pages/courts/rentCourt.html') Забронировать другой корт
