
include /components/atoms/button.pug

include /components/inputs/input.pug

include /components/editLabel

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Вход - RTTF 
    link(href='../../styles.css', rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo 2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-white.pt-8
    img(src="img/rttf-logo.svg", alt="").size-24.mx-auto.my-4
    h1.font-semibold.text-center Вход на сайт RTTF
    
    .p-4.max-w-420.mx-auto.mt-8
      +editLabel('Логин')
      +input('Введите логин или email', 'w-full mb-6')
      +editLabel('Пароль')
      div.relative.w-full
        +input('Введите пароль', 'w-full', 'password', 'password', 'pr-10', '', '', '')
        button.absolute.right-2.top-2(type="button" onclick="togglePasswordVisibility()")
          img(src="img/eye.svg" alt="Toggle visibility").h-6
        a(href="pages/auth/resetPassword.html").block.text-sm.text-rttf-black-50.mt-2.text-right.w-full Забыли пароль?
      +button('Войти', 'default', 'white', 'bg-rttf-color', 'mt-4', 'editButton', '')

      div.p-4.text-center
        p.text-rttf-black-50 или войдите через
        .flex.items-center.gap-4.justify-center
          img(src="img/vk-round.svg", alt="").size-10
          img(src="img/google-round.svg", alt="").size-10
          img(src="img/yandex-round.svg", alt="").size-10

      div.text-center.mt-4 Нет аккаунта? 
        a(href="pages/auth/signup.html") Зарегистрируйтесь! 

    script.
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.querySelector('button img');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          eyeIcon.src = 'img/hide.svg';
        } else {
          passwordInput.type = 'password';
          eyeIcon.src = 'img/eye.svg';
        }
      }