include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug

include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/forumRow.pug
include /components/poll.pug
include /components/market/productCard.pug
include /components/articleRow.pug
include /components/profileTournamentCard.pug
include /components/tournamentsPanel
include /components/tournamentLiveCard
include /components/editLabel


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title RTTF - Придумайте новый пароль
    link(href='../../styles.css', rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo 2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-white.pt-8
    img(src="img/rttf-logo.svg", alt="").size-24.mx-auto.my-4
    h1.font-semibold.text-center Придумайте новый пароль
    
    form(action="/reset-password" method="post" class="p-4 max-w-420 mx-auto mt-8")
      +editLabel('Новый пароль')
      div.relative.w-full.mb-6
        +input('Введите пароль', 'w-full', 'new-password', 'password', 'pr-10', '', '', '')
        button.absolute.right-2.top-2(type="button" onclick="togglePasswordVisibility('new-password', this)")
          img(src="img/eye.svg" alt="Toggle visibility").h-6
      +editLabel('Подтвердите пароль')
      div.relative.w-full
        +input('Введите пароль', 'w-full', 'confirm-password', 'password', 'pr-10', '', '', '')
        button.absolute.right-2.top-2(type="button" onclick="togglePasswordVisibility('confirm-password', this)")
          img(src="img/eye.svg" alt="Toggle visibility").h-6
      +button('Сохранить пароль и войти', 'default', 'white', 'bg-rttf-color', 'mt-8', 'editButton', '')

    script.
      function togglePasswordVisibility(inputId, button) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = button.querySelector('img');
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          eyeIcon.src = 'img/hide.svg';
        } else {
          passwordInput.type = 'password';
          eyeIcon.src = 'img/eye.svg';
        }
      }