include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/forumRow.pug
include /components/poll.pug
include /components/market/productCard.pug
include /components/articleRow.pug
include /components/profileTournamentCard.pug
include /components/tournamentsPanel
include /components/tournamentLiveCard
include /components/editLabel

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ЛАБ - Регистрация
    link(href='../../styles.css', rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo 2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-white.pt-4
    img(src="img/rttf-logo.svg", alt="").size-24.mx-auto.my-4
    h1.font-semibold.text-center Регистрация
    
    .p-4.max-w-420.mx-auto
      +editLabel('Email')
      +input('Введите email', 'w-full mb-6', 'email', 'email')
      +editLabel('Пароль')
      div.relative.w-full.mb-6
        +input('Придумайте пароль', 'w-full', 'password', 'password', 'pr-10', '', '', '')
        button.absolute.right-2.top-2(type="button" onclick="togglePasswordVisibility()")
          img(src="img/eye.svg" alt="Toggle visibility").h-6
      +editLabel('Ещё раз пароль')
      div.relative.w-full
        +input('Повторите пароль', 'w-full', 'password', 'confirm-password', 'pr-10', '', '', '')
        button.absolute.right-2.top-2(type="button" onclick="togglePasswordVisibility()")
          img(src="img/eye.svg" alt="Toggle visibility").h-6
      div.mt-4.flex.items-center.text-rttf-black.text-sm.py-2
        input(type='checkbox' id='terms').size-5
        label(for='terms').ml-2 С 
            a(href="#") правилами сайта 
            span ознакомлен
      +button('Зарегистрироваться', 'default', 'white', 'bg-rttf-color', 'mt-4', 'editButton', '')

      div.p-4.text-center
        p.text-rttf-black-50 или войдите через
        .flex.items-center.gap-4.justify-center
          img(src="img/vk-round.svg", alt="").size-10
          img(src="img/google-round.svg", alt="").size-10
          img(src="img/yandex-round.svg", alt="").size-10

    script.
      function togglePasswordVisibility() {
        const passwordInputs = document.querySelectorAll('input[type="password"]');
        const eyeIcons = document.querySelectorAll('button img');
        passwordInputs.forEach((passwordInput, index) => {
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcons[index].src = 'img/hide.svg';
          } else {
            passwordInput.type = 'password';
            eyeIcons[index].src = 'img/eye.svg';
          }
        });
      }
