include /components/atoms/button.pug
include /components/atoms/stepper.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/modal.pug
include /components/rentCourt.pug
include /components/rentCard.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/editLabel.pug
include /components/selectedCourts.pug
include /components/bottomPanel.pug
include /components/bookingData.pug
include /components/atoms/backButtonTitle.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Бронирование №123456
        link(href="../../styles.css" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")

        base(href="../../")
    body.bg-white.mt-12.pb-32
        +topBar
        .p-2 
            +backButtonTitle('Бронирование №123456 ', 'pages/bookingAdminPanel/bookingAdminPanel.html')

        .px-4
            +bookingData(false)
            .flex.justify-between.pb-4.pt-4.border-t
                span Аренда столов
                span 1400&#8202;₽
            .flex.justify-between.pb-4
                span Аренда ракеток
                span 600&#8202;₽
            .flex.justify-between.font-bold.pb-4.items-center
                span.grow Итого
                span 2000&#8202;₽
            .flex.justify-between.pb-2.items-center
                span.grow Статус
                div.py-1.px-2.bg-rttf-green.text-white.text-sm.rounded-md.font-semibold Оплачено
            .text-sm.py-2.text-rttf-black-50 Бронирование оформил 
                a(href="pages/others/profile.html") Евгений Ловченко

            .flex.gap-2.items-center
                +button('Редактировать', 'default', 'white', 'bg-rttf-color','my-4', 'editButton')
                +button('Отменить', 'default', 'white', 'bg-rttf-red','', 'cancelBooking')
        +modal('Отменить бронирование?', [
            {text: 'Отменить с возвратом 50%', variant: 'default', color: 'white', bgColor: 'bg-rttf-red', extraClasses: '', id: 'cancelButton', href:'pages/courts/bookingCancelled.html'}
        ], "modal-delete", true)
            span До игры осталось менее 24 часов, будет возвращено 50% стоимости

        div(id='editBooking' class="modal-container fixed inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm p-4 z-30 hidden lg:static lg:max-w-96 lg:w-full lg:backdrop-blur-none  lg:border lg:bg-transparent lg:p-0 lg:shadow-none")
            .fixed.bottom-0.left-0.right-0.w-full.z-40.p-4.rounded-t-2xl.overflow-hidden.bg-white.drop-shadow-top.pb-safe-16(class="lg:absolute lg:rounded-none lg:border lg:bottom-auto lg:w-96 lg:-mx-4 lg:drop-shadow-none")

                .w-20.top-0.left-0.right-0.h-1.bg-rttf-black-10.rounded-xl.mx-auto.mt-2.absolute(class="lg:hidden")
                img(src="img/close-round.svg", alt="").top-2.right-2.absolute#closeButton
                .max-w-96.mx-auto
                    
                    h2 Редактирование бронирования
                    .flex.items-center.gap-2.pt-6
                        +editLabel('Имя', '', true)
                        +input('')
                    .text-right.text-xs.text-rttf-red Заполните имя
                    .flex.items-center.gap-2.pt-2
                        +editLabel('Телефон', '', true)
                        +input('', '', '', 'phone')
                    .text-right.text-xs.text-transparent Введите корректный телефон
                    .flex.items-center.gap-2.pt-2
                        +editLabel('Email', '', true)
                        +input('', '', '', 'email')
                    .text-right.text-xs.text-rttf-red Введите корректный email

                    +editLabel('Бронь', '', true, 'py-2')
                    +selectedCourts(true, false)
                    

                    +switch('Абонемент', 'py-4' ,'')
                    +editLabel('Аренда ракетки', '', '')
                    div
                        .flex.items-center.justify-between.gap-3
                            div
                                span.text-sm Любительская
                                .text-sm.text-rttf-black-50 150₽/шт
                            +stepper(0)
                        .flex.items-center.justify-between.gap-3.pt-4
                            div
                                span.text-sm Полупрофи
                                .text-sm.text-rttf-black-50 200₽/шт
                            +stepper(0)
                    
                    .flex.items-center.gap-2.py-4.justify-between
                        +editLabel('Итого', '', '', 'w-32')
                        +input('', 'w-20', '', 'email')
                        label.flex.items-center.gap-2.ml-2
                            input(type='checkbox').size-5
                            span.text-sm Оплачено
                    
                    div.flex.gap-2
                        +button('Удалить бронь', 'text', 'rttf-red', '', 'w-1/2 shrink-0', 'deleteButton')
                        +button('Сохранить', 'default', 'white', 'bg-rttf-color', 'w-1/2', 'submitButton')        

        script.
            document.addEventListener('DOMContentLoaded', function() {
                const editButton = document.getElementById('editButton');
                const editBookingModal = document.getElementById('editBooking');
                const closeButton = document.getElementById('closeButton');
                
                editButton.addEventListener('click', function() {
                    editBookingModal.classList.remove('hidden');
                });

                closeButton.addEventListener('click', function() {
                    editBookingModal.classList.add('hidden');
                });
            });
        +tabBar