include /components/atoms/userRating.pug

mixin userMenu
    - 
        var menuItems = [
            { title: 'Финансы', icon: 'img/price-outline.svg', link: 'pages/others/myFinance.html', number: '1500 ₽' },
            { title: 'Бронирования', icon: 'img/booking.svg', link: 'pages/courts/myBookings.html' },
            { title: 'Заказы', icon: 'img/orders.svg', link: 'pages/market/orders.html' },
            { title: 'Закладки', icon: 'img/bookmark-empty.svg', link: 'pages/others/myBookmarks.html' },
            //- { title: 'Турниры', icon: 'img/cup-outlined.svg', link: 'pages/others/myTournaments.html' },
            { title: 'Тренировки', icon: 'img/trainer.svg', link: 'pages/others/myTrainings.html' },
            { title: 'Лента друзей', icon: 'img/friends.svg', link: 'pages/others/friends.html' },
            //- { title: 'Комментарии', icon: 'img/comment-outlined.svg', link: 'pages/others/myComments.html' },
            //- { title: 'Отзывы', icon: 'img/star-outlined.svg', link: 'pages/others/myReviews.html' },
            //- { title: 'Темы на форуме', icon: 'img/forum.svg', link: 'pages/others/myTopics.html' },
            //- { title: 'Объявления', icon: 'img/second-hand.svg', link: 'pages/market/myClassifieds.html' }
        ]

    div(class="max-w-full min-w-56 px-4 py-4 bg-white rounded-lg flex flex-col justify-start items-start z-[1000] absolute top-10 right-4 drop-shadow-around transform-gpu")
        a(href="pages/others/profile.html" class="flex-col self-stretch pb-3 border-b border-blue-950 flex border-opacity-10 justify-start items-start gap-1")
            div(class="text-slate-900 font-semibold text-sm leading-tight") Никита Полянский
            div(class="text-center text-lab-black-50 text-sm font-normal leading-none") @nikpol
            .flex.flex-row.gap-2.mt-1
                +userRating(713, true)
                +userRating(321)



        div(class="flex flex-col self-stretch py-2 border-b w-full")
            each item in menuItems
                a(href=item.link class="py-2 flex justify-between items-center gap-3")
                    if item.icon
                        img.w-4.h-4(class="justify-center items-center", src=item.icon)
                    else
                        div.w-4.h-4(class="justify-center items-center flex")
                    div(class="text-lab-black text-sm font-normal grow leading-tight")= item.title
                    if item.number
                        span.text-xs.leading-tight= item.number
        div(class="pt-1 flex justify-start items-center mt-2 gap-3")
            img.w-4.h-4(class="justify-center items-center" src='img/exit.svg')
            div(class="text-lab-black text-sm font-normal") Выйти