include /components/atoms/button.pug
include /components/atoms/stepper.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/rentCourt.pug
include /components/rentCard.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/editLabel.pug
include /components/selectedCourts.pug
include /components/bottomPanel.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Данные бронирования
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )
    base(href='../../')
  body.mt-12.bg-white.pb-32
    +topBar
    .flex.gap-3.bg-white.px-2.py-4
      img.rotate-90(src='img/expand-arrow.svg', alt='')
      .-ml-6.grow.text-center.text-lg.font-bold.text-rttf-black Уточните данные бронирования
    .px-4
      +rentCard({photo: 'dynamic-img/club-1.jpg', logo: 'dynamic-img/naten-logo.png', name: 'Naten-ЮГ', stars: '4.4', reviews: '12', metro: 'Юго-Западная', metroColor: 'rttf-red', distance: '1,8', courts: '6', services: ['wifi', 'shower', 'parking']}, slots, '', 'card1')
    .mx-auto.w-full.max-w-420.p-4
      .my-4.flex.items-center.gap-2
        img.opacity-60.saturate-50(src='img/calendar.svg')
        .leading-none 11 сентября, четверг
      +selectedCourts
      .flex.items-center.gap-2.pt-6
        +editLabel('Ваше имя', '', true)
        +input('')
      .text-right.text-xs.text-rttf-red Заполните имя
      .flex.items-center.gap-2.pt-2
        +editLabel('Телефон', '', true)
        +input('', '', '', 'phone')
      .text-right.text-xs.text-transparent Введите корректный телефон
      .flex.items-center.gap-2.pt-2
        +editLabel('Email', '', true)
        +input('', '', '', 'email')
      .text-right.text-xs.text-rttf-red Введите корректный email
      +switch('Абонемент', 'py-4' ,'text-rttf-black-50')
      +editLabel('Аренда ракетки')
      div
        .flex.items-center.justify-between.gap-3
          div
            span.text-sm Любительская
            .text-sm.text-rttf-black-50 150₽/шт
          +stepper(0)
        .flex.items-center.justify-between.gap-3.pt-4
          div
            span.text-sm Полупрофи
            .text-sm.text-rttf-black-50 200₽/шт
          +stepper(0)
    +bottomPanel
      .flex.justify-between.gap-3
        div
          .text-nowrap.text-sm.text-rttf-black-50 Общая стоимость
          span.text-lg.font-bold.text-rttf-color 1800&#8202;₽
        +button('Далее к оплате', 'default', 'white', 'bg-rttf-color', 'max-w-[60%]', '', 'pages/courts/bookingPayment.html')
