include /components/atoms/button.pug
include /components/atoms/stepper.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/modal.pug
include /components/rentCourt.pug
include /components/rentCard.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/editLabel.pug
include /components/selectedCourts.pug
include /components/bottomPanel.pug
include /components/bookingData.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Бронирование №123456 подтверждено
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )

    base(href='../../')
  body.mt-12.bg-white.pb-32
    +topBar
    .p-4
      .grow.pb-4.text-center.text-lg.font-bold.text-rttf-black Бронирование №123456 подтверждено
      +bookingData(false)
      .text-wrap.pb-4
        img.inline-block.align-middle.opacity-50.saturate-50(src='img/price.svg', alt='')
        span.ml-2.inline-block.align-middle 2000₽
        span.ml-2.inline-block.rounded-md.bg-rttf-green.px-2.py-1.align-middle.text-sm.font-semibold.text-white Оплачено
        span.ml-2.inline-block.text-nowrap.rounded-md.bg-rttf-yellow.px-2.py-1.align-middle.text-sm.font-semibold.text-white Оплата в клубе
        span.ml-2.inline-block.rounded-md.bg-rttf-color.px-2.py-1.align-middle.text-sm.font-semibold.text-white Абонемент

      .flex.flex-col.gap-2.border-t.pb-2.pt-4
        h2 Naten-ЮГ
        span г. Красногорск, ул Парковая, д. 8А
        div
          img.inline.w-7.align-middle(src='img/D1.svg')
          span.ml-2.inline.w-7.align-middle.text-rttf-black-50 Красногорская
        div
          img.inline.align-middle(src='img/phone.svg', alt='Телефон')
          a.ml-2.inline.align-middle(href='tel: +71234567890') +7 (123) 456-78-90
        img.pb-2(src='dynamic-img/map.png', alt='')

      .flex.flex-col.gap-2.pb-2.pt-4
        h2.pb-2 Как добраться?
        h3.font-bold На автомобиле
        p.pt-0 Ехать из Москвы по Волоколамскому шоссе (в Красногорске - это улица Ленина), повернуть направо на ул. Народного Ополчения. На втором перекрестке повернуть направо и затем налево 100 метров до здания World’s Gym.
        h3.font-bold На общественном транспорте
        p.pt-0 От станции D2 Красногорская на маршрутках 3к, 15к, 4к до остановки “Улица Народного Ополчения”. От остановки повернуть направо, на ул. Народного Ополчения. На втором перекрестке повернуть направо и затем налево 100 метров до здания World’s Gym.

      h2.py-4 Условия отмены
      .flex.justify-between.gap-2.pb-4
        span Более 24 часов до игры
        .div.mb-1.grow.border-b-2.border-dotted
        span.text-right Возврат 100%
      .flex.justify-between.gap-2.pb-4
        span 12-24 часов
        .div.mb-1.grow.border-b-2.border-dotted
        span.text-right Возврат 50%
      .flex.justify-between.gap-2.pb-6
        span Менее 12 часов
        .div.mb-1.grow.border-b-2.border-dotted
        span.text-right.text-rttf-red Оплата не возвращается
      +button('Отменить бронирование', 'default', 'white', 'bg-rttf-red','', 'cancelBooking')
    +modal('Отменить бронирование?', [ {text: 'Отменить с возвратом 50%', variant: 'default', color: 'white', bgColor: 'bg-rttf-red', extraClasses: '', id: 'cancelButton', href:'pages/halls/bookingCancelled.html'} ], "modal-delete", true)
      .mb-8 До игры осталось менее 24 часов, будет возвращено 50% стоимости

    script.
      document.addEventListener('DOMContentLoaded', function () {
        const openModalButton = document.getElementById('cancelBooking')
        const modal = document.getElementById('modal-delete')
        openModalButton.addEventListener('click', function () {
          modal.style.display = 'block'
        })

        const closeButton = document.querySelector('.close-modal')
        closeButton?.addEventListener('click', function () {
          modal.style.display = 'none'
        })

        modal.addEventListener('click', function (event) {
          if (event.target === this) {
            this.style.display = 'none'
          }
        })
      })
    +tabBar
