mixin bookmark(active = false, extraClass, size=6)
  button#bookmarkButton.cursor-pointer.shrink-0(onclick="toggleBookmark()" class=`${extraClass}`)
    - var initialSrc = active ? 'img/bookmark-fill.svg' : 'img/bookmark-empty.svg'
    img#bookmarkIcon(src=initialSrc alt="Bookmark" class=`size-${size}`)

  script.
    var isActive = false; // Начальное состояние закладки
    function toggleBookmark() {
      isActive = !isActive; // Переключаем состояние
      var bookmarkIcon = document.getElementById('bookmarkIcon');
      bookmarkIcon.src = isActive ? 'img/bookmark-fill.svg' : 'img/bookmark-empty.svg';
    }
