mixin date(text) 
    div(class="justify-center items-center gap-2 py-4 inline-flex m-auto w-full")
        img(src="img/calendar.svg" alt="Календарь").w-4.h-4
        div(class="text-lab-black text-sm font-semibold leading-none")= text 