mixin date(text) 
    div(class="justify-center items-center gap-2 pt-6 pb-3 inline-flex m-auto w-full")
        img(src="img/calendar.svg" alt="Календарь").w-4.h-4
        div(class="text-rttf-black text-sm font-semibold leading-none")= text 