mixin ratingLimit(type, value)
  - let bgColor = type === '>' ? 'bg-rttf-blue' : type === '<' ? 'bg-rttf-color' : 'bg-rttf-yellow'
  div(class=`w-10 h-5 flex items-center justify-center shrink-0 text-white text-xs rounded font-semibold ${bgColor}`)
    if type === 'откр'
      | ОТКР
    else if type === '>'
      | #{type} #{value}
    else
      | #{value}