include /components/actionMenu.pug

mixin sortButton(type, items, extraClasses)
    button.sort-button(type="button" class=` ${extraClasses} `)
        img.inline.align-middle.size-4(src="img/sort.svg")
        span.inline.align-middle.text-rttf-color.text-sm.ml-1 #{type}
    +actionMenu(items)

    script.
        document.querySelector('.sort-button').addEventListener('click', function () {
            var menuContainer = document.querySelector('.menu-container'); 
            if (menuContainer.style.display === 'none' || menuContainer.style.display === '') {
                menuContainer.style.display = 'block';
            } else {
                menuContainer.style.display = 'none';
            }
        });