mixin stepper(baseValue)
  .flex.h-9.items-center.rounded-lg.bg-rttf-color-10
    button#decrease-courts.size-10.text-xl.text-rttf-black-50 –
    span#courts-count.w-4.text-center.leading-none(class='h-3.5')= baseValue
    button#increase-courts.size-10.text-xl.text-rttf-black-50 +
