mixin tag(bgcolor, textcolor, text, closeButton=true)
    div(class="px-2 py-1.5 font-semibold text-xs bg-" + bgcolor + " text-" + textcolor + " rounded-lg shadow-sm leading-none border border-lab-black border-opacity-50 w-fit")= text
        if closeButton
            span(class="ml-2 text-" + textcolor) ✕