include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/profileTournamentCard.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title История игр - Кудайбердиев Адилет Кудайбердиевич
        link(href="../../styles.css" rel="stylesheet")
        base(href="../../")
    body.bg-white.pt-12.pb-32
        +topBar
        +backButtonTitle('История игр', 'pages/others/profile.html', 'px-2')
            
        .w-full.text-center.pb-4.flex.items-center.gap-2.justify-center
            img(src="img/search-icon.svg", alt="")
            a(href="pages/players/gamesHistory.html").text-sm Выбрать других игроков

        .flex.gap-2.justify-around.px-4.items-center
            .flex.flex-col.gap-2.items-center(class="max-w-1/2 w-1/2")
                +avatar('bg-rttf-blue', "АИ", 48)
                a(href="pages/others/singlePlayer.html" class="430:flex-row 430:space-x-1 ").font-semibold.text-sm.text-center.flex.flex-col
                    span.text-rttf-color Абельмасов
                    span.text-rttf-color Игорь
                +userRating(569)
                span.text-sm.text-rttf-black-50 Москва
                span.text-sm.text-rttf-black-50 1976 г.р.
                div.flex.gap-1.items-center
                    img.size-4.opacity-60.saturate-50(src='img/hand.svg' alt='Игровая рука')
                    span.text-sm.text-rttf-black-50 Правая

            span.whitespace-nowrap.text-2xl.font-bold 43 – 12

            .flex.flex-col.gap-2.items-center(class="max-w-1/2 w-1/2")
                .flex 
                    +avatar('bg-rttf-red', "КА", 48)
                    +avatar('bg-rttf-red', "БВ", 48, '', '', '', '-ml-4')

                div(class="sm:flex-row sm:space-x-2 ").font-semibold.text-rttf-color.text-sm.text-center.flex.flex-col
                    a(href="#").text-rttf-color.text-sm.font-medium Кудабердиев A.
                    a(href="#").text-rttf-color.text-sm.font-medium Богданов В.
                +userRating(234, true)
                span.text-sm.text-rttf-black-50.text-center Ашхабад / Москва   
                span.text-sm.text-rttf-black-50.text-center 1984 / 1988 г.р.
                div.flex.gap-1.items-center.justify-center
                    img.size-4.opacity-60.saturate-50(src='img/hand.svg' alt='Игровая рука')
                    span.text-sm.text-rttf-black-50.w-min Левая / Правая
        
        img(src="dynamic-img/graph-opponents.png").px-2.w-full

        .p-4 
            +gameResult({
                        date: '12.05.2023 13:00',
                        tournament: 'Лига ПРО',
                        stage: '1/16',
                        duration: 14,
                        border: true,
                        players: [
                            { name: 'Клейменов А.', rating: '420', score: 2, ratingChange: '+14.2', opponentScore: 1, initials: 'КА', avatarBg: 'bg-rttf-blue' },
                            { name: 'Преображенский В.', rating: '389', score: 1, ratingChange: '-11.5', opponentScore: 2, initials: 'ПВ', avatarBg: 'bg-rttf-yellow' }
                        ],
                        numOfPlayers: 1
                    })
            +gameResult({
                        date: '12.05.2023 13:00',
                        tournament: 'Лига ПРО',
                        stage: '1/16',
                        duration: 14,
                        border: true,
                        players: [
                            { name: 'Афанасьева В.', rating: '420', score: 2, ratingChange: '+14.2', opponentScore: 1, initials: 'АФ', avatarBg: 'bg-rttf-blue' },
                            { name: 'Лысак О.', rating: '389', score: 1, ratingChange: '-11.5', opponentScore: 2, initials: 'ЛО', avatarBg: 'bg-rttf-yellow' }
                        ],
                        numOfPlayers: 1
                    })
            +gameResult({
                        date: '12.05.2023 13:00',
                        tournament: 'Лига ПРО',
                        stage: '1/16',
                        duration: 12,
                        border: true,
                        players: [
                            { name: 'Гуреев А. / Богданова С.', rating: '420', score: 1, ratingChange: '+14.2', opponentScore: 2, initials: 'ГА', avatarBg: 'bg-rttf-blue' },
                            { name: 'Кобыляцкий С. / Кобыляцкая Л.', rating: '389', score: 2, ratingChange: '-11.5', opponentScore: 1, initials: 'БС', avatarBg: 'bg-rttf-yellow' }
                        ],
                        numOfPlayers: 2
                    })
            +gameResult({
                        date: '12.05.2023 13:00',
                        tournament: 'Лига ПРО',
                        stage: '1/16',
                        duration: 12,
                        border: true,
                        players: [
                            { name: 'Волкодавов А. / Козюлькина С.', rating: '420', score: 1, ratingChange: '-14.2', opponentScore: 2, initials: 'ВА', avatarBg: 'bg-rttf-blue' },
                            { name: 'Гармашов С. / Левинзон Л.', rating: '389', score: 2, ratingChange: '+11.5', opponentScore: 1, initials: 'КС', avatarBg: 'bg-rttf-yellow' }
                        ],
                        numOfPlayers: 2
                    })
            