include /components/atoms/date.pug
include /components/atoms/button.pug
include /components/atoms/userRating.pug
include /components/atoms/tournamentTypeBadge.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/inputs/textarea.pug
include /components/block.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/accordionProfileTournamentCard.pug
include /components/actionMenu.pug
include /components/filters/filterButtonsRow.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Мои комментарии
        link(href="../../styles.css" rel="stylesheet")
        base(href="../../")
    body.bg-white.pt-12.pb-32
        +topBar

        h2.p-4 Мои комментарии
        +searchAndFilterButton('Текст комментария', false, 'pb-4 px-4')
        +filterButtonsRow([
                { label: 'Все', active: true},
                { label: 'Фото', active: false},
                { label: 'Новости', active: false},
                { label: 'Турниры', active: false},
                { label: 'Форум', active: false},
                { label: 'Другое', active: false},
            ], true, 'pb-4')
        
        +filterButtonsRow([
                { label: '2024', active: true},
                { label: '2023', active: false},
                { label: '2022', active: false},
                { label: '2021', active: false},
                { label: '2020', active: false},
            ], true, 'py-4 border-t', 'text-xs')

        .bg-white.p-4.mb-1.border-b
            .flex.gap-3.items-center
                span.text-xs Вчера 12:30
                span.text-xs.px-1(class="py-0.5").bg-lab-green.rounded.text-white.font-semibold Форум 
            div.text-lab-black-50.text-xs.mt-2 Тема #[a.font-semibold.ml-1(href='#')  Кто где покупает ракетки?]
            span.mt-3.line-clamp-3 Я покупал ракетку в Декатлоне. Конечно любительская, но своё дело делает. Буду в следующем месяце покупать новую, пока не знаю где
        
        .bg-white.p-4.mb-1
            .flex.gap-3.items-center
                span.text-xs 7 апреля 12:30
                span.text-xs.px-1(class="py-0.5").bg-lab-red.rounded.text-white.font-semibold Турниры 
            div.text-lab-black-50.text-xs.mt-2 Турнир #[a.font-semibold.ml-1(href='#')  XDF+ Макс Арена, 11 сентября 19:00]
            span.mt-3.line-clamp-3 Пацаны ваще ребята!

        +tabBar