doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Table Tennis Scoreboard
    script(src="https://cdn.tailwindcss.com")
    link(href="../../styles.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
    

    
    
  body

    div.flex.flex-col.space-y-2.p-4
        div.flex.flex-col.space-y-0
            div(class="h-6 bg-gray-200")
            div(class="h-6 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-6 bg-gray-200")
            div(class="h-6 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-6 bg-gray-200")
            div(class="h-6 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-7 bg-gray-200")
            div(class="h-7 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-7 bg-gray-200")
            div(class="h-7 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-7 bg-gray-200")
            div(class="h-7 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-8 bg-gray-200")
            div(class="h-8 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-8 bg-gray-200")
            div(class="h-8 bg-gray-300")
        div.flex.flex-col.space-y-0
            div(class="h-8 bg-gray-200")
            div(class="h-8 bg-gray-300")