mixin searchBar(placeholder) 
  .flex.items-center.border.px-3.py-2.rounded-lg.gap-3.bg-white.flex-grow(class="focus-within:ring-2 focus-within:ring-rttf-color")
    img(src="img/search-icon.svg" alt="Search" class="w-4 h-4")
    input#searchBar.flex-grow(class='outline-none leading-none bg-transparent' type='text', placeholder=placeholder)