mixin select(title, extraClass)
    select.block.appearance-none.border.border-lab-black-30.p-2.rounded-lg.mb-4.text-sm.pr-10.max-w-sm.leading-tight.shadow-sm(class=`focus:outline-none focus:shadow-outline ${extraClass}`)
        option(value="" disabled selected hidden)= title
        option Вариант 1
        option Вариант 2
        option Вариант 3